:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* Important bits */

body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  background: #020617; 
}

#root {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
